{% if is_paginated %}
    <ul class="pager">
        {% if page_obj.has_previous %}
            <li class="prev">
                <a href="?page={{ page_obj.previous_page_number }}">
                    <span>Previous</span>
                </a>
            </li>
        {% else %}
            <li class="prev disabled">
                <a href="#">
                    <span>Previous</span>
                </a>
            </li>
        {% endif %}
        {% if page_obj.has_next %}
            <li class="next">
                <a href="?page={{ page_obj.next_page_number }}">
                    <span>Next</span>
                </a>
            </li>
        {% else %}
            <li {% if not page_obj.has_next %}class="next disabled"{% endif %}>
                <a href="#">
                    <span>Next</span>
                </a>
            </li>
        {% endif %}
    </ul>
{% endif %}