{% extends "blog/main_template.html" %}

{% load staticfiles %}

{% block title %}
    About
{% endblock %}

{% block header %}
    <header class="intro-header" style="background-image: url('{% static "imgs/about-bg.jpg" %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>About Me</h1>
                        <hr class="small">
                        <span class="subheading">This is what I do.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Saepe nostrum ullam eveniet pariatur voluptates odit, fuga atque ea nobis sit soluta odio, adipisci quas
                excepturi maxime quae totam ducimus consectetur?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Eius praesentium recusandae illo eaque architecto error, repellendus iusto reprehenderit, doloribus,
                minus sunt. Numquam at quae voluptatum in officia voluptas voluptatibus, minus!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum molestiae debitis nobis, quod sapiente
                qui voluptatum, placeat magni repudiandae accusantium fugit quas labore non rerum possimus, corrupti
                enim modi! Et.</p>
        </div>
    </div>
{% endblock %}