{% extends 'blog/main_template.html' %}

{% block title %}
    Blog
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {% for post in post_list %}
                <div class="post-preview">
                    <a href="/posts/{{ post.id }}">
                        <h2 class="post-title">
                            {{ post.title }}
                        </h2>
                        <h3 class="post-subtitle">
                            {{ post.preview_content|safe|linebreaks }}
                        </h3>
                    </a>
                    <p class="post-meta">Posted on {{ post.date|date:"F d, Y" }}</p>
                </div>
                {% if not loop.last %}
                    <hr>
                {% endif %}
            {% endfor %}
            {% include 'blog/includes/pagination.html' %}
        </div>
    </div>
{% endblock %}