{% extends "blog/main_template.html" %}

{% load staticfiles %}
{% load date_filter %}

{% block header %}
    <header class="intro-header" style="background-image: url('{{ post.post_image.url }}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1> {{ post.title }}</h1>
                        <h2 class="subheading">{{ post.preview_content|safe|linebreaks }}</h2>
                        <span class="meta">Posted on {{ post.date|date:"F d, Y" }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {{ post.content|safe|linebreaks }}
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="comments-header">
                <h1>
                    <small class="pull-right">{{ comments|length }} comments</small>
                    Comments
                </h1>
            </div>
            <div class="comments-list">
                {% for comment in comments %}
                    <div class="media">
                        <p class="pull-right">
                            {% if comment.comment_date|days_from_now == 0 %}
                                <small>today</small>
                            {% else %}
                                <small>{{ comment.comment_date|days_from_now }} days ago</small>
                            {% endif %}
                        </p>
                        <span class="media-left">
                            <img src="{% static 'imgs/anonimus_comentator.png' %}">
                        </span>
                        <div class="media-body">
                            <h4 class="media-heading user_name">{{ comment.author }}</h4>
                            {{ comment.message }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <form action="/posts/{{ post.id }}/comments" method="POST" id="commentForm">
                    {% csrf_token %}
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Name</label>
                            <input type="text" class="form-control" placeholder="Name" name="author" id="name" required
                                   data-validation-required-message="Please enter your name.">
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Comment</label>
                            <textarea rows="5" class="form-control" placeholder="Message" name="comment" id="comment" required
                                      data-validation-required-message="Please enter a message."></textarea>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <a href="#"><input type="submit" name="dsubmit" id="commentSubmit"
                                               value="Submit Comment"></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}